body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center; 
}

.exercise-container {
    width: 100%;
    max-width: 450px; 
    padding: 20px;
    text-align: center; 
    background-color: #ffffff;
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding-bottom: 80px
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px; 
    background-color: #ffffff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 1000; 
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #888; 
    font-size: 12px;
    transition: color 0.3s;
    flex-grow: 1;
    padding: 5px 0;
}

.nav-item i {
    font-size: 20px;
    margin-bottom: 3px;
}

.nav-item.active {
    color: #4CAF50; 
    font-weight: bold;
}

.exercise-header {
    margin-bottom: 30px;
}

.exercise-header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.exercise-header p {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
}

.visual-area {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.exercise-image-placeholder {
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: #7f8ff3; 
}

.timer-area {
    margin-bottom: 50px;
}

.timer-value {
    font-size: 60px;
    font-weight: bold;
    color: #4863f7; 
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.control-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.play-button {
    background-color: #4CAF50; 
}

.pause-button {
    background-color: #FFC107; 
}

.stop-button {
    background-color: #F44336; 
}


.details-area p {
    font-size: 16px;
    color: #000;
    line-height: 1.6;
    font-weight: normal;
}
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #888;
    font-size: 12px;
    transition: color 0.3s;
    flex-grow: 1;
    padding: 5px 0;
}
